*{
    font-family: cursive;
}
body{
    background-color: darkslategrey;
    color: rgb(161, 144, 123);
}
.container{
    margin: 0px;
    border: 3px solid rgba(199, 150, 150, 0.514);
    width: 50%;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
}
.container .para{
    text-align: justify;
}

.container .title h3{
    /* margin: auto;
    width: fit-content; */
    text-align: center;
    margin: 0px;
    text-decoration: underline;
}
.container .para p{
    margin-top: 5px;
}
img{
    width: 20%;
    margin: auto;
    display: block;
}
main{
    border: 3px solid rgba(199, 150, 150, 0.514);
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;

}
main .card{
    border: 3px solid black;
    width: 29%;
    /* margin: auto;
    float: left; */
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

