.container{
    font-size: 10px;
}
.heading{
    border: 3px solid red;
    text-align: center;
}
#heading-1{
    font-size: 2em;
    padding: 3em;
}

#heading-2{
    font-size: 4em;
    padding: 3em;
}
#heading-3{
    font-size: 3rem;
    padding: 3rem;
}
#heading-4{
    font-size: 3rem;
    padding: 3rem;
}